/* 
Generic class used in Input fields on forms to ensure consistant styling
*/
.Input { 
    text-align:center;
    font-weight:bolder;
    width:100%;
    padding-top:1rem;
    font-size:1rem;
}

/* 
Generic class used in Input Labels used on forms to ensure consistant styling
*/

.InputLabel {
    font-size:1rem;
    text-decoration: underline;
    font-size:1.5rem;
    color: #0071a6;
    font-weight: bolder;
    text-decoration: solid;
}

/* 
Input field additonal class used to apply background colors to input fields that require more contrast
*/

.InputBorder{
    background-color:#ccd3cd;
}

/* 
Genetic button class used to ensure buttons use 100% of their parent container
*/

.Button{
    width:100%;
}

.profileRow{
    background:grey;
}

/* 
Genetic button class used to ensure buttons have spacing when stacked in column format
*/

.ButtonSpacing{
    margin-top:1rem;
}

/* 
Genetic button class used to ensure buttons size in their containers , while keeping margins
*/

.AutoButton{
    width:auto;
}

/* 
Genetic button class used to change the color of a button once hovered over
*/

.Button:hover{
    color:grey;
}

/* 
Genetic button class used to change the color of a button once selected(used in Header component)
*/

.Button:active{
    color:black;
}

/* 
Custom class used for all headers in component pages 
*/

.Header {
    text-align: center;
    padding-bottom: 1rem;
    color: #0071a6;
    font-weight: bolder;
    font-size: 2.8rem;
    margin-top: 3.5rem;
    font-weight: bolder;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* 
Custom class used for all sub headers in component pages
*/

.HeaderV1 {
    text-align: center;
    padding-bottom: 1rem;
    color: #0071a6;
    font-weight: bolder;
    font-size: 1.5rem;
}

/* 
Custom class to limit size of rows
*/

.row{
    max-width:960px;
}

/* 
Custom class to ensure profile rows use 100% of their container
*/

.profileRow{
    width:100%;
}

/* 
Custom class to ensure profile background colors strongly contrast with surrounding elements
*/

.profileBackGround{
    background-color:#ccd3cd;
    border:0.1cm solid grey;
}

/* 
Custom container used in ProfileEdit component
*/

.ProfileEditContainer{
    margin-top:6rem;
    background:grey;
    margin-left: 6rem;
    width: auto;
}


/* Media query for screens up to 700px wide */
@media (max-width: 780px) {
    /* Adjusting styles for elements with class .profileRow */
    .profileRow {
        margin-left: 0; /* Resetting left margin */

    }

    /* Adjusting styles for elements with class .text-right */
    .text-right {
        text-align: center; /* Center-aligning text */
        margin-top: 1rem; /* Adding top margin */
    }
}

/* Media query for screens between 701px and 1460px wide */
@media (min-width: 701px) and (max-width: 1460px) {
    /* Adjusting styles for elements with class .CustomContainer */
    .CustomContainer {
        margin-left: 4rem; /* Setting left margin */
    }

    /* Adjusting styles for elements with class .profileRow */
    .profileRow {
        margin-top: 6rem; /* Adding top margin */
        margin-left: 8rem; /* Setting left margin */
        margin-right: 0rem; /* Setting right margin */
        width:80%
    }
}

@media (max-width:768px){
    .profileRow {
        margin-top: 4rem !important; /* Adding top margin */
        margin-left: 4rem !important; /* Setting left margin */
        margin-right: 0rem; /* Setting right margin */
        width:80%
    }
}

@media (max-width:400px){
    .profileRow {
        margin-top: 0rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem;
        width: 90%;
    }
}

@media (max-width:740px){
    .ProfileEditContainer {
        margin-top: 2rem !important;
        background: grey;
        margin-left: 2rem !important;
        width: auto;
    }
}

/* Media query for screens wider than 1400px */
@media (min-width: 1401px) {
    /* Adjusting styles for elements with class .profileRow */
    .profileRow {
        margin-left: 2rem; /* Setting left margin */
        margin-top: 8rem; /* Adding top margin */
        width: 100%; /* Making element full width */
    }
}