.Input { 
    text-align:center;
    padding-left:auto;
    padding-right:auto;
    font-weight:bolder;
    width:100%;
    padding-top:1rem;
    font-size:1rem;
}

.InputLabel {
    font-size:1rem;
    text-decoration: underline;
    font-size:1.5rem;
    color: #0071a6;
    font-weight: bolder;
    text-decoration: solid;
}

.InputBorder{
    border: 0.1cm solid grey;
    background-color:#ccd3cd;
}

.Button{
    width:100%;
    padding-left:auto;
    padding-right:auto;
}

.ButtonSpacing{
    margin-top:1rem;
}

.AutoButton{
    width:auto;
    padding-left:auto;
    padding-right:auto;
}

.Button:hover{
    color:grey;
}

.Button:active{
    color:black;
}

.Header {
    text-align: center;
    padding-bottom: 1rem;
    color: #0071a6;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    text-decoration: underline;
}

.HeaderV1 {
    text-align: center;
    padding-bottom: 1rem;
    color: #0071a6;
    font-weight: bolder;
    font-size: 1.5rem;
    text-decoration: underline;
}

.row{
    max-width:960px;
}

.profileRow{
    width:100%;
}

.profileBackGround{
    background-color:#ccd3cd;
    border:0.1cm solid grey;
}

.ProfileEditContainer{
    margin-top:6rem;
}

@media (max-width: 700px) {
    .profileRow {
        margin-left: 0;
    }

    .text-right {
        text-align: center;
        margin-top: 1rem;
    }
}

/* Just check CustomContainer , could mess up other styling */
@media (min-width: 701px) and (max-width: 1460px) {
    .CustomContainer {
        margin-left: 4rem;

    }

    .profileRow {
        margin-top: 6rem;
        margin-left: 3rem;
        margin-right: 2rem;
    }
}

@media (min-width: 1401px) {
    .profileRow {
        margin-left: 2rem;
        margin-top: 8rem;
        width: 100%;
    }
}