.Input { 
    text-align:center;
    padding-left:auto;
    padding-right:auto;
    font-weight:bolder;
    width:100%;
    padding-top:1rem;
    font-size:1rem;
}

.InputLabel {
    font-size:1rem;
    text-decoration: underline;
    font-size:1.5rem;
    color: #0071a6;
    font-weight: bolder;
    text-decoration: solid;
}

.InputBorder{
    border: 0.1cm solid grey;
    background-color:#ccd3cd;
}

.Button{
    width:100%;
    padding-left:auto;
    padding-right:auto;
}

.ButtonSpacing{
    margin-top:1rem;
}

.AutoButton{
    width:auto;
    padding-left:auto;
    padding-right:auto;
}

.Button:hover{
    color:grey;
}

.Button:active{
    color:black;
}

.Header {
    text-align: center;
    padding-bottom: 1rem;
    color: #0071a6;
    font-weight: bolder;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    text-decoration: underline;
}

.row{
    max-width:960px;
}

@media(min-width:760px) and (max-width:1400px){
    .CustomContainer{
        margin-left:4rem;
    }
}