.CreateSpace{
    padding-top:1rem;
}

@media (max-width: 1512px) {
    .LeftAlign {
        margin-left:3rem;
        width:auto;
    }
}

@media (max-width: 1222px) {
    .LeftAlign {
        margin-left:5rem !important;
    }
}

@media (max-width: 767px) {
    .LeftAlign {
        width:100% !important;
        margin-left:0px !important;
    }

    .Container {
        width:100% !important;
    }
}


