/* Centering text and setting bold font weight for elements with class .Input */
.Input {
    text-align: center;
    font-weight: bolder;
}

/* Applying a custom background color and border to elements */
.CustomBackGround {
    background: linear-gradient(to right, rgb(165, 161, 161), #b192da); /* Gradient background */
    border: 0.1cm solid grey;
}

.CustomBackGround1 {
    background: linear-gradient(to right, rgb(137, 165, 222), #88a0a3); /* Gradient background */
    border: 0.1cm solid grey;
}

.backgroundImage {
    background-image: url('https://res.cloudinary.com/drdelhvyt/image/upload/v1722858371/kisspng-desktop-wallpaper-line-angle-product-design-5d146ff5a31b82.6058864515616204696681_uw6mqr.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }

  .backgroundImage1 {
    background-image: url('https://res.cloudinary.com/drdelhvyt/image/upload/v1722858189/d691c103620a42063a8c17d49fbfddc7_pbhazs.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
  }

/* Setting width to 100% for elements with class .Button */
.Button {
    width: 100%;
}

/* Setting width to auto for elements with class .AutoButton */
.AutoButton {
    width: auto;
}

/* Hover effect for elements with class .Button */
.Button:hover {
    color: grey;
}

/* Active state style for elements with class .Button */
.Button:active {
    color: black;
}

/* Centering text, setting color and padding for elements with class .Header */
.Header {
    text-align: center;
    padding-bottom: 2rem;
    color: #111111;
    font-weight: bolder;
    text-decoration: solid;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* Adding padding to the top for elements with class .HeaderForSignUp */
.HeaderForSignUp {
    padding-top: 2rem;
}

/* Setting text color, removing pointer events for elements with class .Text */
.Text {
    color: black;
    text-decoration: none;
    pointer-events: none !important;
}

/* Styling for links with class .Link */
.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: blue;
}

/* Centering and adjusting margin for elements with class .Four0FourImage */
.Four0FourImage {
    margin: 0 auto;
    height: fit-content;
}

/* Ensuring images are fluid and responsive */
.ImageFluid {
    width: 100%;
    height: auto;
    display: block;
}

/* Setting maximum height and width for elements with class .Four0FourContainer */
.Four0FourContainer {
    max-height: 50%;
    max-width: 50%;
}

/* Media query for screens wider than 200px */
@media (min-width: 200px) {
    /* Adjusting margins for elements with class .Row */
    .Row {
        margin-top: 8rem !important;
        margin-right: 1rem !important;
        margin-left: 1rem !important;
    }
}
