.Input { 
    text-align:center;
    font-weight:bolder;

}

.CustomBackGround{
    background-color:#B2BEB5;
    border:0.1cm solid grey;
}

.Button{
    width:100%;
}

.AutoButton{
    width:auto;
}

.Button:hover{
    color:grey;
}

.Button:active{
    color:black;
}

.Header { 
    text-align:center;
    padding-bottom:2rem;
    color:#0071a6;
    font-weight:bolder;
    text-decoration:solid;
}

.HeaderForSignUp{
    padding-top:2rem;
}

.Text{
    color:black;
    text-decoration:none;
    pointer-events:none !important;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color:blue;
  }
.Four0FourImage{
    margin:0 auto ;
    height:fit-content;
}

.ImageFluid {
    width: 100%; 
    height: auto; 
    display: block;
  }

.Four0FourContainer{
    max-height:50%;
    max-width:50%;
}

@media(min-width:200px){
    .Row{
        margin-top:8rem !important;
        margin-right:1rem !important;
        margin-left:1rem !important;
    }
}

