.CustomContainer{
    margin-top:6rem;
    margin-left:1rem;
}

.InputLabel {
    font-size:1rem;
    text-decoration: underline;
    font-size:2.5rem;
    color: #0071a6;
    font-weight: bolder;
    text-decoration: solid;
}

.InputBorder{
    border: 0.1cm solid grey;
    background-color:#ccd3cd;
}

.CustomBackGround{
    background-color:#d8dcd9;
    border: 0.1cm solid grey;
    border-top:none;
}

.CustomOverdueBadge {
    background-color: red !important;
    color: white !important;
    margin-left:5px;
}

.CustomUserBackground{
    border:0.5px solid grey;
}