.CustomContainer{
    margin-top:6rem;
    margin-left:3rem;
}

.InputLabel {
    font-size:1rem;
    text-decoration: underline;
    font-size:2.5rem;
    color: #0071a6;
    font-weight: bolder;
    text-decoration: solid;
}

.ContainText{
  overflow: wrap;
  overflow-wrap: break-word;
  width:70%
}

.ContainerMaxWidth{
  max-width:100%;
}

.InputBorder{
    border: 0.1cm solid grey;
    background-color:#ccd3cd;
}

.CustomBackGround{
    background-color:#d8dcd9;
    border: 0.1cm solid grey;
    border-top:none;
}

.CustomOverdueBadge {
    background-color: red !important;
    color: white !important;
    margin-left:5px;
}

.CustomMessage{
  word-wrap: break-word;
  white-space: pre-wrap;
}

.CustomUserBackground{
    border:0.5px solid grey;
}

@media(max-width: 500px){
  .ContainText{
    margin-left:-2rem;
  }
}

@media (max-width: 460px) {
  .InputLabel {
    font-size:2.1rem;
  }
  .CustomContainer{
    margin-top:3rem;
    margin-left:0rem;
  }
}

@media (max-width:420px){
  .CustomRemoveButton{
    display:block !important;
    max-width:75%
  }

  .removeMargin{
    margin-right:0;
  }
  .hideText{
    display:none;
  }
}

@media (max-width: 768px) {
  .CustomContainer{
    margin-top:3rem;
    margin-left:0rem;
  }
}